@keyframes fadeIn {
  from {
    opacity: 0.25;
    scale: 0.75;
  }
  to {
    opacity: 0.75;
    scale: 1.25;
  }
}

.Star {
  @apply absolute rounded-full -translate-x-1/2 -translate-y-1/2;
  animation: fadeIn 0s ease-in-out 0s infinite alternate;
}
