$dark: #202830;
$light: #d0d8e0;

a,
button,
.btn {
  cursor: url("/src/assets/imgs/CursorPointer.png"), auto !important;
}

hr {
  background-color: $light;
  opacity: 0.5;
}

:root {
  cursor: url("/src/assets/imgs/Cursor.png"), auto !important;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: $light;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #606870;
  border-radius: 4px;
  &:hover {
    background-color: #404850;
  }
}

.btn {
  overflow: hidden;
  position: relative;
  transition: all 0.5s !important;
  &::after {
    background-color: rgba($color: $light, $alpha: 0.25);
    content: "";
    height: 150%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-300%, -100%) rotate(45deg);
    transition: all 0.5s;
    width: 50%;
  }
  &:hover {
    opacity: 0.75;
    &::after {
      transform: translate(200%, 0%) rotate(45deg);
    }
  }
}

.item {
  transition: all 0.3s;

  &:hover {
    background-color: rgba($light, $alpha: 0.25);
  }

  &:first-child {
    border-top-left-radius: 4px;
  }

  &:last-child {
    border-bottom-left-radius: 4px;
  }

  &.selected {
    background-color: $light;
    color: $dark;
  }
}

.chess-piece {
  position: relative;
  > .pawn {
    opacity: 1;
    transition: all 0.3s linear;
  }
  > .queen {
    opacity: 0;
    transition: all 0.3s linear;
  }
  &:hover {
    > .pawn {
      opacity: 0;
    }
    > .queen {
      opacity: 1;
    }
  }
}

.filter-light {
  filter: brightness(0) invert(0.85);
}

section {
  margin: 0 auto;
  max-width: 700px;
}

.photo {
  border: 3px solid $light;
  border-radius: 50%;
  padding: 8px;
}

@import "/node_modules/bootstrap/scss/bootstrap";
